/* Empty. Add your own CSS if you like */

body , html , input, button, select, textarea, a , p,
h1 ,h2, h3{
	color: #777;
    font: 13px/20px "Raleway",sans-serif;
}

html, body {
    background: none repeat scroll 0 0 #eeeff3;
}

/** Primary Color **/

.color-pink-primary {
	color : #E07BB4;
}

.color-pink-light {
	color : #efb9d7;
}

.product_price {
    /*color: #fa7763;*/
	color: #E07BB4;
    font-family: "Raleway",sans-serif;
    font-size: 29px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 13px;
}

.product_title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
	text-transform: uppercase;
}

.discountPrice {
	text-decoration: line-through;
	font-size: 18px;
	color: #777;
}

.imageGrid , .imageGridElement{
	text-align: center !important;
	margin: 0px auto;
}

/** Twitter Bootstrap **/
.btn, .slideshowck .btn, .slideshowck .btn:hover, .btn.disabled {
    border: medium none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 25px;
    text-transform: none;
    transition: all 0.2s ease-in 0s;
	margin: 5px 0px 5px 0px;
	width: 100%;
}

.btn-default {
    background: none repeat scroll 0 0 #333;
    color: #fff;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    background: none repeat scroll 0 0 #E07BB4;
    color: #fff;
}



.bar-dark ,ion-side-menu[side="left"] ,ion-side-menu[side="left"] ion-content ion-item > a , 
.bg-dark{
    background-image: url(../img/sidebar_bg.png) !important;
	background-size: auto;
	color: #fff;
	border-color: #111;
	background-color: #212524;
}

ion-side-menu[side="left"] .scroll {
	height: 100%;
}

.bottomItem {
	position: absolute;
	bottom: 0;
	width: 100%;
}

ion-side-menu[side="left"] ion-content ion-item {
	border-bottom: 1px solid #000;
    border-top: 1px solid;
	margin-bottom: 1px;
}

ion-side-menu.menu-left {
	background-image: url(../img/sidebar_bg.png) !important; 
}

ion-side-menu.menu-left a.item-content:hover {
	background-image: url(../img/sidebar_bg_hover.png) !important; 
}

ion-content ion-item > a.item-content:hover {
	/*background-image: url(../img/sidebar_bg_hover.png) !important; */
	background-color : #efb9d7;
}

.bar .title {
    color: #fff;
}

ion-content ion-item > a.item-content {
	/*background-image: url(../img/bg-box.jpg) !important; */
}

ion-side-menu-content  ion-content ion-item > a.item-content:hover {
	/*background-image: url(../img/bg-box-selected.jpg) !important; */
}

ion-side-menu-content ion-content ion-item > a.item-content:hover p{
	color: #fff;
}

/*** Grid View ***/
.imageGrid > .imageGridElement {
            float: left;
            position: relative;
            width: 101px;
            height: 170px;
            margin: 0 5px;
            padding: 0;
}

.imageGrid > .imageGridElement p {
            visibility: hidden;
        }
.imageGrid > .imageGridElement a {
	color: #fff;
	text-decoration: none;
}
.imageGrid > .imageGridElement:hover p , .imageGrid > .imageGridElement.activeItem p {
            visibility: visible;
            position: absolute;
            width: 101px;
            height: 133px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 133px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
}