<ion-view view-title="Productos">
  <ion-content>
    <div ng-hide="items.length">No se encontraron productos</div>
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="item in items" href="#/app/item/{{item.id}}">
      	<img ng-src="{{imageUrl}}{{item.extid}}">
        <h2>{{item.name}}</h2>
        <p>{{item.price}} EUR <span ng-show="{{item.oldprice}}" style="text-decoration: line-through;">{{item.oldprice}} EUR</span> - {{t.translate(item.categoryname)}}</p>
        <p ng-show="{{item.oldprice}}" style="color:#ef4e3a">{{item.discount}}% Rebajado! </p>
        <p>{{item.storename}}</p>
        
        <ion-option-button class="button-info ion-heart assertive"
                       ng-click="favorite(item)">
        </ion-option-button>
      </ion-item>
    </ion-list>
    
	  <ion-infinite-scroll
	    ng-if="!finished"
	    on-infinite="loadMore()"
	    distance="1%">
	  </ion-infinite-scroll>
  </ion-content>
</ion-view>
