<ion-view view-title="{{selectedItem.name}}">
  <ion-content>
     <div class="row">
	  <div class="col"> <h1>{{selectedItem.name}}</h1></div>
     </div>
     <div class="row">
	  <div class="col"><img ng-src="{{imageUrl}}{{selectedItem.extid}}-large" ng-click="openModal()"/>  </div>
	 </div>
	 <div class="row">
	  <div class="col"><button ng-click="openUrl()" class="button button-block icon-left ion-bag button-positive">Ver en tienda</button> </div>
	  <div class="col"><button ng-click="openModal()" class="button button-block icon-left ion-image button-balanced">Ver imagen</button> </div>
	 </div>
	 <div class="row" ng-hide="favoriteExists(selectedItem)">
	  <div class="col"><button ng-click="favorite(selectedItem)" class="button button-block icon-left ion-heart button-assertive">A&ntilde;adir a favorito</button> </div>
	 </div>
	 <div class="row" ng-show="favoriteExists(selectedItem)">
	  <div class="col"><button ng-click="deleteFavorite(selectedItem)" class="button button-block icon-left ion-heart-broken button-assertive">Eliminar de favoritos</button> </div>
	 </div>
	 <div class="row">
	  	<div class="col">
			<div class="list card">

			  <a href="#" class="item item-icon-left positive">
			    <i class="icon ion-bag"></i>
			    {{selectedItem.storename}}
			  </a>
			  
			  <a href="#" class="item item-icon-left dark">
			    <i class="icon ion-pricetag"></i>
			    {{t.translate(selectedItem.categoryname)}}
			  </a>
			
			  <a href="#" class="item item-icon-left balanced">
			    <i class="icon ion-cash"></i>
			    {{selectedItem.price}} EUR
			  </a>
			
			
			</div>
		</div>
	 </div>
    
    
    
   
     
    
  </ion-content>
</ion-view>

<!--  Modal View -->

<script id="modal-image.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{selectedItem.name}}</h1>
    </ion-header-bar>
    <ion-content>
      	<img ng-src="{{selectedItem.image}}" ng-click="closeModal()"/> 
    </ion-content>
  </ion-modal-view>
</script>

