<ion-view view-title="{{selectedItem.name}}">
  <ion-content>
    <div class="row responsive-sm">
	  <div class="col"> <h1>{{selectedItem.name}}</h1></div>
	  <div class="col"><img ng-src="{{imageUrl}}{{selectedItem.extid}}-large" ng-click="openModal()"/>  </div>
	  <div class="col"><button ng-click="openUrl()" class="button icon-left ion-bag button-positive">Ver en tienda</button> </div>
	  <div class="col">.col</div>
	</div>
    
   
     
    
  </ion-content>
</ion-view>

<!--  Modal View -->

<script id="modal-image.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{selectedItem.name}}</h1>
    </ion-header-bar>
    <ion-content>
      	<img ng-src="{{selectedItem.image}}" ng-click="closeModal()"/> 
    </ion-content>
  </ion-modal-view>
</script>

