<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button class="button-clear">
      	 <i class="ion-arrow-left-c"></i> Volver 
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
      <ion-nav-buttons side="right" >
      	<button ng-click="changeTypeView('view')" class="button button-icon button-clear {{topMenu.defaultClassView}}" menu-toggle="right">
        </button>
        <button ng-click="changeTypeView('sort')" class="button button-icon button-clear ion-funnel" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bg-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
      	<ion-item nav-clear menu-close href="#/app/items">
      	  <i class="icon ion-bag"></i>
          Productos
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          <i class="icon ion-search"></i>
          Buscar
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/fav">
          <i class="icon ion-heart"></i>
          Favoritos
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
  
  <ion-side-menu side="right" ng-show="typeLeftView=='sort'">
    <ion-header-bar class="bg-dark">
      <h1 class="title">Orden</h1>
    </ion-header-bar>
    <ion-content>
        <ion-radio ng-model="order" ng-value="'name'" ng-change="sort(order)">Nombre</ion-radio>
        <ion-radio ng-model="order" ng-value="'category'" ng-change="sort(order)">Categor&iacute;a</ion-radio>
		<ion-radio ng-model="order" ng-value="'price'" ng-change="sort(order)">Precio: menor a mayor</ion-radio>
		<ion-radio ng-model="order" ng-value="'price_desc'" ng-change="sort(order)">Precio: mayor a menor</ion-radio>
		<ion-radio ng-model="order" ng-value="'store'" ng-change="sort(order)">Tienda</ion-radio>
        <ion-radio ng-model="order" ng-value="'discount'" ng-change="sort(order)">Mayores descuentos</ion-radio>
    </ion-content>
  </ion-side-menu>
  
  <ion-side-menu side="right" ng-show="typeLeftView=='view'">
    <ion-header-bar class="bg-dark">
      <h1 class="title">Vista</h1>
    </ion-header-bar>
    <ion-content>
       <ion-radio ng-model="topMenu.defaultTypeView" ng-value="'list'" ng-change="topMenu.showList=true;topMenu.defaultClassView='ion-navicon-round'">
       	<i class="icon ion-navicon-round"></i> 
       	  Lista
       </ion-radio>
       <ion-radio ng-model="topMenu.defaultTypeView" ng-value="'grid'" ng-change="topMenu.showList=false;topMenu.defaultClassView='ion-grid'">
         <i class="icon ion-grid"></i> 
         Mosaico
       </ion-radio>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
