<ion-view view-title="Filtrar">
  <ion-content>
    <form name="frmFilter">
     <div class="list list-inset">
	   <label class="item item-input item-select">
	    <div class="input-label">
	      Tiendas
	    </div>

	    <select ng-model="storesModel" ng-options="store.name for store in stores track by store.id" name='slc-stores'>
	    </select>
	  
	   </label>
	</div>
	
	<div class="list list-inset">
	   <label class="item item-input item-select">
	    <div class="input-label">
	      Categorias
	    </div>
	    <select ng-model="categoriesModel" ng-options="t.translate(category.name) for category in categories track by category.id" name='slc-categories'>
	    </select>
	   </label>
	</div>
	
	<div class="list list-inset">
	  <label class="item item-input">
	    <input name="form.maxPrice" type="number" placeholder="Precio maximo" ng-model="form.maxPrice" step="0.1">
	  </label>
	</div>
	
	<div class="list list-inset">
	  <label class="item item-input">
	    <input name="form.minPrice" type="number" placeholder="Precio minimo" ng-model="form.minPrice" step="0.1">
	  </label>
	</div>
	
	<div class="list list-inset">
	  <label class="item item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input name="form.descr" type="text" placeholder="Buscar..." ng-model="form.descr" >
	  </label>
	</div>
	
	<div class="list list-inset">
	   <label class="item item-input item-select">
	    <div class="input-label">
	      Descuento minimo
	    </div>
	    <select name='slc-discount'>
	      <option selected="selected" value="0"></option>
	      <option ng-repeat="discount in form.discounts" value="{{discount}}">{{discount}}</option>
	    </select>
	   </label>
	</div>
	
	<button ng-click="refresh()" class="button button-block button-positive icon-left ion-navicon-round">
	  Filtrar
	</button>
	</form>
  </ion-content>
</ion-view>
